.container-fluid {
    background: linear-gradient(140deg, #ffbf1e, #de1aff, #25f18d);
    background-size: 600% 600%;
    animation: GradientBg 49s ease infinite;;
    min-height: 100vh;
}

@keyframes GradientBg {
    0% {
    background-position: 9% 0%;
    }
  
    50% {
    background-position: 92% 100%;
    }
  
    100% {
    background-position: 9% 0%;
    }
  }

  img{
      max-width: 200px;
  }